RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx

CONTACT_FROM_EMAIL="Vynox Media <hello@team.vynoxmedia.com>"
CONTACT_TO_EMAIL=hello@vynoxmedia.com
CAREERS_FROM_EMAIL="Vynox Media <hello@careers.vynoxmedia.com>"

NEXT_PUBLIC_SITE_URL=https://vynoxmedia.com
CAREERS_TO_EMAIL=hello@vynoxmedia.com
